body {
    background-color: hsl(217, 54%, 11%);
    color:hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    margin: 150px;
}

#container {
    max-width: 320px;
    margin: auto;
}

.card {
    background-color: hsl(216, 50%, 16%);
    border: 1px solid hsl(216, 50%, 16%);
    border-radius: 12px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
    padding: 15px;
}

.equilibrium {
    width: 100%;
    border-radius: 12px;
    height: 250px;
    margin: auto;
    object-fit: cover;
}

hr {
    border-top: 0.1px solid rgb(72,72,72);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

h1 {
    color: white;
    font-size: 18px;
}

h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.eth {
    color: hsl(178, 100%, 50%);
    font-weight: bold;
    font-size: 15px;
}

.days-text {
    font-size: 15px;
}

.footer {
    border: 1px solid white;
    border-radius: 15px;
    float: left;
    height: 30px;
    width: 30px;
    margin: auto;
    margin-right: 10px;
}

.footer-text {
    font-size: 14px;
    margin: auto 20px;
    padding: 8px;
}

.jules-wyvern {
    font-weight: normal;
    color: white;
    font-size: 14px;
}

.jules-wyvern:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.attribution a:hover { 
    color: hsl(178, 100%, 50%); 
}